body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  width: 100%;
  height: 100vh;
}

canvas {
  display: block;
  touch-action: none;
}

#orientation-lock {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  color: #ffffff;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: sans-serif;
  font-size: 24px;
}

#orientation-lock svg {
  width: 64px;
  height: 64px;
  margin-bottom: 20px;
  fill: white;
}

/* Show on portrait mobile devices */
@media screen and (orientation: portrait) and (max-width: 900px) {
  #orientation-lock {
    display: flex;
  }

  #game-container {
    display: none;
  }
}